body {
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	background-color: #F0E68C;
}

p {
	font-size: 16px;
}

input {
	font-size: 16px;
}

select {
	font-size: 16px;
}

textarea {
	font-size: 16px;
}

.textblue {
	color: blue; 
}

.textdisabled {
	background-color: lightgray;
}

.titlepara {
	font-size: 16px;
	font-weight: bold;
}

#titlepara2 {
	font-size: 25px;
	font-weight: bold;
}

.signupform {
	background-color: #D7D6E4;
	position: absolute;
	left: 8px;
	top: 137px;
	padding-left: 10px;
	width: 550px;
	height: 540px;
}

#morgageform {
	background-color: #D7D6E4;
	position: absolute;
	left: 585px;
	top: 137px;
	padding-left: 10px;
	width: 350px;
	height: 540px;
}

#mortgagepagestyle {
	background-color: #D7D6E4;
	position: absolute;
	left: 8px;
	top: 137px;
	padding-left: 10px;
	width: 550px;
	height: 540px;
}

#stylerows1 {
	background-color: #FFFFFF;
}

#stylerows2 {
	background-color: #E4ABAB;
}

#divfeaturedhome {
	background-color: #D7D6E4;
	position: absolute;
	left: 8px;
	top: 137px;
	padding-left: 10px;
	width: 350px;
	height: 400px;	
}

#divfeaturedhome  p{
	color: blue;
	font-size: 30px;
	font-weight: bold;	
}

#divguestbookandcalc {
	background-color: orange;
	position: absolute;
	left: 8px;
	top: 770px;
	padding-left: 10px;
	width: 250px;
	height: 50px;
}

#divsearchcity {
	background-color: pink;
	position: absolute;
	left: 8px;
	top: 550px;
	padding-left: 10px;
	width: 350px;
	height: 200px;
}

#divsearchcity p { 
	font-size: 16px;
	font-weight: bold;
}

#divrealtorspanel {
	background-color: lightblue;
	position: absolute;
	left: 400px;
	top: 137px;
	padding-left: 10px;
	width: 200px;
	height: 700px;
}

#divrealtorspanel p {
	color: blue;
	font-size: 20px;
	font-weight: bold;	
}

